.rotate {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.shake {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 1s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.jump {
  animation: jumpInfinite 0.5s infinite;
}

@keyframes jumpInfinite {
  0% {
    transform: translate(0px, -2px);
  }
  33% {
    transform: translate(0px, -4px);
  }
  66% {
    transform: translate(0px, -2px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.slideHorizontal {
  animation: slideHorizontal 0.5s infinite;
}

@keyframes slideHorizontal {
  0% {
    transform: translate(-2px, 0px);
  }
  33% {
    transform: translate(-4px, 0px);
  }
  66% {
    transform: translate(-2px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.beat {
  animation: beat 0.25s infinite alternate;
  transform-origin: center;
}
@keyframes beat {
  to {
    transform: scale(1.4);
  }
}
